$debug: true;
.debug {
  // display: none !important;
  display: block !important;
}

// Flat UI
// https://flatuicolors.com/
$c-aqua: #1abc9c;
$c-aqua-dark: #16a186;
$c-green: #2ecc71;
$c-green-dark: #27ae60;
$c-blue: #3498db;
$c-blue-dark: #2980b9;
$c-purple: #a66abe;
$c-purple-dark: #8e44ad;
$c-yellow: #f1c40f;
$c-yellow-dark: #f39c12;
$c-orange: #e67e22;
$c-orange-dark: #d35400;
$c-red: #e74c3c;
$c-red-dark: #c0392b;

$c-dark-grey: #34495e;
$c-dark-grey-dark: #2c3e50;
$c-medium-grey: #95a5a6;
$c-medium-grey-dark: #7f8c8d;
$c-light-grey: #ecf0f1;
$c-light-grey-dark: #bdc3c7;

/* App */
$c-app-bg: #f8f8f4;

$c-text: #333;
$c-border-table: darken(#f8f8f4, 60%); //#333;
$c-border-cell: darken(#f8f8f4, 50%);//#333;
$c-border-form: darken(#f8f8f4, 40%);//#666;

$c-table-th: darken($c-app-bg, 10%);
$c-table-th-magical: mix($c-yellow, $c-table-th, 15%);

$c-table-td-magical: mix($c-yellow, $c-app-bg, 15%);
$c-table-td-disabled: darken($c-app-bg, 15%);
$c-table-td-disabled-magical: mix($c-yellow, $c-table-td-disabled, 15%);

$c-table-td-selected: mix($c-blue, $c-app-bg, 15%);
$c-table-td-disabled-selected: mix($c-blue, $c-table-td-disabled, 15%);

$border-radius: 4px;

// FX
$shadow-big: 0 24px 48px 0 rgba(0, 0, 0, 0.25);

// Bourbon grid
$fg-column: 90px;    // Column Width
$fg-gutter: 20px;    // Gutter Width
$fg-max-columns: 12; // Total Columns For Main Container
$fg-max-w: $fg-max-columns * $fg-column + ($fg-max-columns - 1) * $fg-gutter; // 1148
$fg-min-w: 960px;

// Define your breakpoints
$mobile: 767px;
$tablet: 1024px;
$small-desktop: 1264px;